<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/Customer%20Dashbord/Assets/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/Customer%20Dashbord/Assets/styles/main.css">
    <title>پورتال مشتریان</title>
</head>
<body>
    <header>
        <div class="header-nav p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <div class="title">
                <h5 class=" my-0 mr-md-auto font-weight-normal ">پورتال مشتریان </h5>
            </div>
        </div>
    </header>
    <main>
        <div class="item-container">
            <div class="option-container">
                <a href="projectsList.html">
                    <div class="projects-list">
                        <span>لیست پروژه ها</span>
                    </div>
                </a>
               <a href="TicketLists.html">
                    <div class="recent-tickets">
                        <span>تیکت های اخیر</span>
                    </div>
                </a>
                <a href="CreateTicket.html">
                    <div class="create-ticket">
                        <span>ایجاد تیکت پشتیبانی</span>
                    </div>
                </a>
                

               
                <a href="requestForProjects.html">
                    <div class="requset-for-project">
                        <span>درخواست برای پروژه</span>
                    </div>

                </a>
                
            </div>
        </div>
    </main>
    
    



    <script src="../../../static/Customer%20Dashbord/Assets/scripts/moment.js"></script>
    <script src="../../../static/Customer%20Dashbord/Assets/scripts/jalali-moment.js"></script>

    <script src="../../../static/Customer%20Dashbord/Assets/scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="../Assets/scripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>