<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/Customer%20Dashbord/Assets/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/Customer%20Dashbord/Assets/styles/main.css">
    <link rel="stylesheet" href="../../../static/Customer%20Dashbord/Assets/styles/ProjectLists.css">
    <title>پورتال مشتریان</title>
</head>
<body>
    <header>
        <div class="header-nav p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <div class="title">
                <h5 class=" my-0 mr-md-auto font-weight-normal ">پورتال مشتریان </h5>
            </div>
        </div>
    </header>
    <main>
        <div class="item-container">
            <div class="table-container">
                <table class="table rtl-table">
                    <thead>
                      <tr >
                        <th scope="col">#</th>
                        <th scope="col">عنوان</th>
                        <th scope="col">مهلت</th>
                        <th scope="col">بودجه </th>
                        <th scope="col">وضعیت</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td><a href="projectPage.html">طراحی سایت</a></td>
                        <td>سی روز</td>
                        <td>10 میل</td>
                        <td>درحال انجام</td>
                      </tr>
                      <!-- <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                      </tr> -->
                    </tbody>
                  </table>
                  
            </div>
            <!-- <div>
                <span>پروژه ای موجود نمی باشد</span>
            </div> -->
               
            
        </div>
    </main>
    
    



    <script src="../../../static/Customer%20Dashbord/Assets/scripts/moment.js"></script>
    <script src="../../../static/Customer%20Dashbord/Assets/scripts/jalali-moment.js"></script>

    <script src="../../../static/Customer%20Dashbord/Assets/scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="../Assets/scripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>