<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/Customer%20Dashbord/Assets/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/Customer%20Dashbord/Assets/styles/main.css">
    <link rel="stylesheet" href="../../../static/Customer%20Dashbord/Assets/styles/requestForProject.css">
    <title>پورتال مشتریان</title>
</head>
<body>
    <header>
        <div class="header-nav p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <div class="title">
                <h5 class=" my-0 mr-md-auto font-weight-normal ">پورتال مشتریان </h5>
            </div>
        </div>
    </header>
    <main>
        <div class="item-container">
            <div class="page-title">
                <h1>درخواست برای پروژه</h1>
            </div>
            <div class="custom-row">
                <form class="customize-form" action="" method="post">
                    <div class="form-row">
                        <div class="form-group col-lg-8">
                            <input type="email" class="form-control text-right disabled" id="NumberOfAdmins" value="customersupport@gmail.com" disabled="disabled">
                        </div>
                        <div class="form-group col-lg-4">
                            <input type="text" class="form-control text-right disabled" id="NumberOfAdmins" value="نام مشتری" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control text-right" id="NumberOfAdmins" placeholder="  عنوان پروژه ">
                        </div>
                        
                    </div>
                    <div class="form-row flex-md-row-reverse">
                        

                        <div class="form-group col-lg-5">
                            <input type="text" class="form-control text-right" id="NumberOfAdmins" placeholder="مهلت پروژه">
                        </div>
                        <div class="form-group col-lg-5">
                            <input type="text" class="form-control text-right" id="NumberOfAdmins" placeholder=" بودجه ی مورد نظر">
                        </div>
                    </div>
                    <div class="form-row customize-text-area">
                        <div class="form-group green-border-focus">
                            <label >: توضیحات لازم</label>
                            <textarea class="form-control customize-form customize-text-area" id="" rows="6"></textarea>
                          </div>
                    </div>
                    <div class= "form-row upload-file-container">
                        <input class="btn " type="file" name="" id="">
                    </div>
                    <div class="submit-btn">
                        <button class="btn btn-primary">ارسال</button>
                    </div>

                </form>
            </div>
        </div>
    </main>
    
    



    <script src="../../../static/Customer%20Dashbord/Assets/scripts/moment.js"></script>
    <script src="../../../static/Customer%20Dashbord/Assets/scripts/jalali-moment.js"></script>

    <script src="../../../static/Customer%20Dashbord/Assets/scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="../Assets/scripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>