.main-container{
    display: flex;
    justify-content: center;
    padding: 3rem 3rem;
    width: 90vw;
    height: 91vh;
    background-color: white;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.07);
}

.emplyees-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 64%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.07);
}
.rtl-table{
    direction: rtl;
}
.rtl-table-texts{
    text-align: right;
}
.no-data span{
    font-size: 14px;
}