<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Customer%20Dashbord/Assets/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="Customer%20Dashbord/Assets/styles/main.css">
    <link rel="stylesheet" href="Customer%20Dashbord/Assets/styles/createTicket.css">
    <title>پورتال مشتریان</title>
</head>
<body>
    <header>
        <div class="header-nav p-3 px-md-4  bg-white border-bottom shadow-sm">
            <div class="title">
                <h5 class=" my-0 mr-md-auto font-weight-normal ">پورتال مشتریان </h5>
            </div>
        </div>
    </header>
    <main>
        <div class="item-container">
            <div class="page-title">
                <h1>ارسال تیکت</h1>
            </div>
            <div class="custom-row">
                <form class="customize-form" action="" method="post">
                    <div class="form-row">
                        <div class="form-group col-lg-8">
                            <input type="email" class="form-control text-right disabled" id="email"  value="customersupport@gmail.com" disabled="disabled">
                        </div>
                        <div class="form-group col-lg-4">
                            <input type="text" class="form-control text-right disabled" id="customerName" value="نام مشتری" disabled="disabled">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control text-right" id="subject" name="subject" placeholder=" موضوع تیکت ">
                        </div>
                        
                    </div>
                    <div class="form-row flex-md-row-reverse">
                        
                        <div class="form-group col-lg-5 ">
                            <select name="deptid" id="partOfcompany" class="form-control dp-fix-style" onchange="refreshCustomFields(this)">
                                <option  value="1" selected="selected">فنی</option>
                                <option  value="2" >   بخش مالی </option>
                            </select>
                        </div>
                        <div class="form-group col-lg-5">
                            <select name="deptid" id="priority" class="form-control dp-fix-style" onchange="refreshCustomFields(this)">
                                <option  value="1" selected="selected"> متوسط</option>
                                <option  value="2" selected="selected">کم</option>
                                <option  value="3" selected="selected">بالا</option>
                                <option  value="4" selected="selected">ضروری</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row customize-text-area">
                        <div class="form-group green-border-focus">
                            <label >:متن تیکت</label>
                            <textarea class="form-control customize-form customize-text-area" id="description"  rows="6"></textarea>
                          </div>
                    </div>
                    <div class= "form-row upload-file-container">
                        <input class="btn " type="file" name="document" id="document">
                    </div>
                    <div class="submit-btn">
                        <button id="submitTicket" class="btn btn-primary">ارسال</button>
                    </div>

                </form>
            </div>
        </div>
    </main>
    
    



    <script src="Customer%20Dashbord/Assets/scripts/moment.js"></script>
    <script src="Customer%20Dashbord/Assets/scripts/createTicket.js"></script>
    <script src="Customer%20Dashbord/Assets/scripts/jalali-moment.js"></script>
    <script src="Customer%20Dashbord/Assets/scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="Customer%20Dashbord/Assets/scripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>