<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Customer%20Dashbord/Assets/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    

<div class="pen-title"></div>
<div class="module form-module">
    <div class="toggle"><i class="fa fa-times fa-pencil"></i>
      <div class="tooltip">ثبت نام</div>
    </div>

    <div class="form">
      <h2>پورتال مشتریان </h2>
      <form>
        <input type="text" placeholder="نام کاربری"/>
        <input type="password" placeholder="رمز عبور"/>
        <button id="sign-in-button">ورود</button>
      </form>
    </div>
    <div class="form">
      <h2>ایجاد حساب کاربری</h2>
      <form>
        <input type="text" placeholder="نام کاربری"/>
        <input type="password" placeholder="رمز عبور"/>
        <input type="email" placeholder="آدرس ایمیل"/>
        <input type="tel" placeholder="شماره تلفن همراه"/>
        <button id="sign-up-button">ثبت نام</button>
      </form>
    </div>
    <div class="cta"><a href="#">رمز عبور خود را فراموش کرده اید؟</a></div>
</div>

  <script src="Customer%20Dashbord/Assets/scripts/jquery.min.js"></script>
  <script src="Customer%20Dashbord/Assets/scripts/app.js"></script>
</body>
</html>