<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Company%20Dashbord/Assets/styles/loginPage.css">
    <title>login to System</title>
</head>
<body>
  <div class="login-wrap">
    <h2> ورود به سیستم مدیریت </h2>
    
    <div class="form">
      <input type="text" id="userName" placeholder="نام کاربری" name="userName" value="" />
      <input type="password" id="passWord" placeholder="رمز عبور" name="PassWord"   />
      <button id="login-btn"> ورود </button>
    </div>
  </div>

  <script src="../static/Company%20Dashbord/Assets/scripts/loginPage.js"></script>
</body>

</html>