<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Customer%20Dashbord/Assets/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="Customer%20Dashbord/Assets/styles/main.css">
    <link rel="stylesheet" href="Customer%20Dashbord/Assets/styles/ProjectPage.css">
    <title>پورتال مشتریان</title>
</head>
<body>
    <header>
        <div class="header-nav p-3 px-md-4  bg-white border-bottom shadow-sm">
            <div class="title">
                <h5 class=" my-0 mr-md-auto font-weight-normal ">پورتال مشتریان </h5>
            </div>
        </div>
    </header>
    <main>
        <div class="item-container">
            <div class="project-content">
                <div class="file-container">
                    <div class="project-id">
                        <div class="id">
                            <span id="project-id">123456</span>
                        </div>
                    </div>
                    <div class="project-files">
                        <div class="project-files-title">
                            فایل های ضمیمه شده
                        </div>
                    </div>
                </div>
                <div class="project-text">
                    <div class="project-title">
                        <div class="condition">
                            <span>وضعیت</span>
                        </div>
                        <div class="title">
                            <span>عنوان</span>
                        </div>
                        
                    </div>
                    <div class="project-description">
                        <div class="text">
                            <p id="project-text">
                                توضیحات پروژه
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-date">
                <div class="time-line">
                   
                </div>
                <div class="create-ticke-for-project">
                    
                </div>
            </div>
        </div>
    </main>
    
    



    <script src="Customer%20Dashbord/Assets/scripts/moment.js"></script>
    <script src="Customer%20Dashbord/Assets/scripts/jalali-moment.js"></script>

    <script src="Customer%20Dashbord/Assets/scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="Customer%20Dashbord/Assets/scripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>