<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Customer%20Dashbord/Assets/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="Customer%20Dashbord/Assets/styles/main.css">
    <link rel="stylesheet" href="Customer%20Dashbord/Assets/styles/ticketPage.css">
    <title>پورتال مشتریان</title>
</head>
<body>
    <header>
        <div class="header-nav p-3 px-md-4 3 bg-white border-bottom shadow-sm">
            <div class="title">
                <h5 class=" my-0 mr-md-auto font-weight-normal ">پورتال مشتریان </h5>
            </div>
        </div>
    </header>
    <main>
        <div class="item-container-ts">
            <div class="ticket-infos">
                <div class="detailes">
                    <div class="info-title">
                        <span>
                            مخشصات تیکت
                        </span>
                    </div>
                    <div class="descriptions">
                       <div class="detailes-clm">
                           <div>
                                <span>
                                    وضعیت تیکت
                                </span>
                               <span>
                                    :
                                </span>
                               <span id="condition">
                                   در حال بررسی
                               </span>
                           </div>
                            <div>
                                <span>
                                    اولویت
                                </span>
                                <span>
                                    :
                                </span>
                               <span id="priority">
                                   متوسط
                               </span>
                            </div>
                       </div>
                       <div class="detailes-clm">
                            <div>
                                <span>
                                    عنوان تیکت
                                </span>
                                <span>
                                    :
                                </span>
                               <span id="ticketSubject">
                                   باگ
                               </span>
                            </div>
                            <div>
                                <span>
                                     بخش مربوطه
                                </span>
                                <span>
                                    :
                                </span>
                               <span id="ticketPart">
                                    دپارتمان فنی
                               </span>
                            </div>
<!--                            <div>-->
<!--                                <span>-->
<!--                                    وضعیت تیکت -->
<!--                                </span>-->
<!--                                <span>-->
<!--                                    :-->
<!--                                </span>-->
<!--                               <span>-->
<!--                                   در حال بررسی-->
<!--                               </span>-->
<!--                            </div>-->
                        </div>
                        
                    </div>
                </div>
                <div class="rate-this-tcket">
                   
                </div>
            </div>
            <div class="dialog-list">
               


               <div class="ticket-container">
                    
                    <div class="ticket-title">
                        <div class="title">
                            <span id="TicketGenerator">نام فرستنده</span>
                        </div>
                        <div class="title">
                            <span id="createTime"> زمان</span>
                        </div>
                    </div>
                    <div class="ticket-body">
                        <div class="ticket-text">
                            <p id="description">
                                توضیحات تیکت
                            </p>
                        </div>
                    </div>
                    <!-- <div class="replay-nav">
                        <div>
                            <span>پاسخ</span>
                        </div>
                    </div> -->
               </div>


               
            </div>
            
            
           
                
            
        </div>
    </main>
    
    



    <script src="Customer%20Dashbord/Assets/scripts/moment.js"></script>
    <script src="Customer%20Dashbord/Assets/scripts/jalali-moment.js"></script>
    <script src="Customer%20Dashbord/Assets/scripts/TicketPage.js"></script>

    <script src="Customer%20Dashbord/Assets/scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="Customer%20Dashbord/Assets/scripts/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>