.rtl-table{
    direction: rtl;
}
.table-container{
    width: 50vw;
    margin-top: 3rem;
}

.rtl-table tr{
    text-align: right;
}
tbody tr:hover
{
    background-color:  #ddddbb;
    cursor: pointer;
}