<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  
    <link rel="stylesheet" href="../../../static/System%20Dashbord/Assets/styles/bootstrap/bootstrap.min.css">


    <link rel="stylesheet" href="../../../static/System%20Dashbord/Assets/styles/main.css">

    <title>Dashbord</title>
</head>
<body >

    <!-- ===== header ======  --> 

    <header class="header" id="header">
        <div class="header-nav"> 
            <div class="user-icone__date">
                <div class="user-icone">
                    <ion-icon name="person"></ion-icon>
                    <ion-icon name="chevron-down-outline" class="chevron"></ion-icon>
                </div>
                <div class="date">
                    <span id="date">تاریخ امروز : سه شنبه 8 آذر</span>
                </div>
            </div>
            
            <div class="search-bar">

                <a id="S-btn"  >
                    <ion-icon name="search"></ion-icon>
                </a>
                <div class="input-group ">
                   
                    <div class="input-group-prepend" data-toggle="tooltip" data-placement="left" title=" نوع جست وجو">
                      <button  id="search-btn"  class="btn  " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <ion-icon name="chevron-down-circle" ></ion-icon>
                      </button>
                      <div class="dropdown-menu">
                          <div class="dropdown-item combo-item">
                            <a class="" href="#">تیکت ها</a>
                            <input  type="checkbox" >
                          </div>
                          <div class="dropdown-item combo-item">
                            <a class="" href="#">کاربران</a>
                            <input  type="checkbox" >
                          </div>
                          <div class="dropdown-item combo-item">
                            <a class="" href="#">شرکت هاا</a>
                            <input  type="checkbox" >
                          </div>
                      </div>
                    </div>
                    <input id="search-input" type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="جست و جو">
                </div>
            </div>
            <div class="options">
                <div class="fast-acsses">
                    <div class="dropdown">
                        
                        <div class="dropdown" data-toggle="tooltip" data-placement="left" title="دسترسی سریع">
                          
                            <ion-icon name="add-circle" data-toggle="dropdown"  ></ion-icon>
                            
                            <ul class="dropdown-menu" id="options-dropdown">
                              <li class="dropdown-item"><a href="#">ایجاد جلسه</a></li>
                              <li class="dropdown-item"><a href="#">ایمیل</a></li>
                              <li class="dropdown-item"><a href="#">ایجاد تیکت</a> </li>
                              <li class="dropdown-item"><a href="#"> ایجاد دسترسی</a></li>
                              <li class="dropdown-item"><a href="#"> افزودن کاربر </a></li>
                            </ul>
                        </div>
                      </div>
                            
                        
                          
                </div>
                <div class="" data-toggle="tooltip" data-placement="bottom" title="یادآوری">
                    <ion-icon name="volume-low"></ion-icon>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title=" اعلان ها">
                    <ion-icon name="notifications" ></ion-icon>
                    
                </div>
               
                
            </div>
        </div>
        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>


    </header>

    <main>

        
        <!-- ===== side bar ======  -->
        <div class="navbar">
            <nav>
                <div class="side-bar">
                    <div class="dashbord">
                        <a href="Dashbord.html" class="nav__link ">

                            
                            <div >
                                <span  class="nav__name" > داشبورد</span>

                            </div>
                            <div>
                                <i  class='bx bx-grid-alt nav__icon' data-toggle="tooltip" data-placement="left" title="داشبورد"  ></i>

                            </div>
                            
                        </a>
                    </div>
                    <div class="Users">
                        <a href="#" class="nav__link" >

                            
                            
                            <div class="dropdown"  id="users-dropdown" >
                                <div  >
                                    <ion-icon name="chevron-down-outline"   ></ion-icon>
                                    
                                </div>
                                
                                <span class="nav__name" >کاربران</span>
                                
                            </div>
                            
                            
                            <div>
                                <i class='bx bx-user nav__icon'  data-toggle="tooltip" data-placement="left" title="کاربران" ></i>
                            </div>
                            
                            
                            
                        </a>
                    </div>
                    <div class="dropdown-container">
                        <a class="hidden-dp-1">ادمین ها</a>
                        <a href="SystemMembers.html" class="hidden-dp-1" >کاربران سیستم</a>
                    </div>
                   
                    <div class="Acsses">
                        <a href="#" class="nav__link">
                            <div id="acsses-dropdown">
                                <ion-icon name="chevron-down-outline" ></ion-icon>
                                
                                    <span class="nav__name">دسترسی  </span>
                                
                            </div>
                            
                            <div>
                                <i class='bx bx-folder nav__icon' data-toggle="tooltip" data-placement="left" title="دسترسی ها" ></i>

                            </div>
                        </a>
                    </div>
                    <div class="dropdown-container">
                        <a href="AddCompany.html" class="hidden-dp-2"> درخواست سیستم </a>
                        <a  class="hidden-dp-2">  درخواست تمدید </a>
                    </div>
                    <div class="Messages">
                        <a href="TicketsList.html" class="nav__link">
                             <div>
                                <span class="nav__name">تیکت ها</span>
                             </div>
                             <div>
                                <i class='bx bx-message-square-detail nav__icon' data-toggle="tooltip" data-placement="left" title="تیکت ها" ></i>

                             </div>
                        </a>
                    </div>
                    <div class="Favorites">
                        <a href="#" class="nav__link">
                            <div>
                                <span class="nav__name"> ایمیل ها</span>

                            </div>
                            <div>
                                <i class='bx bx-bookmark nav__icon' data-toggle="tooltip" data-placement="left" title="ایمیل ها" ></i>
                            </div>
                        </a>
                    </div>
                    
                    <div class="Analytics">
                        <a href="#" class="nav__link">
                            <span class="nav__name">گزارش ها</span>

                            <i class='bx bx-bar-chart-alt-2 nav__icon' data-toggle="tooltip" data-placement="left" title="گزارش ها"></i>
                        </a>
                    </div>
                    <div class="log-out">
                        <a href="#" class="nav__link">
                            <span class="nav__name">خروج</span>
                            <i class='bx bx-log-out nav__icon' data-toggle="tooltip" data-placement="left" title="خروج از سیستم"></i>
                            
                        </a>
                    </div>
                </div>

               
            </nav>


    
        </div>

    </main>
    <!-- ===== Page content ======  -->
    <section class="main-page">
        <div class="first-row">
           
 
            <div class="satisfication">
                <span class="style-of-number" id="satisfication-percent">0 %</span>
                <span class="style-of-title"> درصد رضایت از سیستم ها  </span>
            </div>
            
            <div class="emails">
                <span class="style-of-number">0</span>
                <span class="style-of-title">  تعداد ایمیل ها </span>
            </div>
            <div class="tickets">
                <span class="style-of-number" id="ticket-number">0</span>
                <span class="style-of-title">  تعداد تیکت ها </span>
            </div>
            <div class="Inactive">
                <span class="style-of-number" id="Inactive-systems">0</span>
                <span class="style-of-title">تعداد سیستم های غیر فعال</span>
            </div>
            <div class="active-systems" >
                <span class="style-of-number" id="active-systems">0</span>
                <span class="style-of-title">تعداد سیستم های فعال</span>
                
            </div>
        </div>
        <div class="second-row">
            <div class="avrage-times">
                <span id="no-data-available">داده ای وجود ندارد</span>
            </div>
            <div class="diagram">
                <span id="no-data-available">داده ای وجود ندارد</span>
            </div>
        </div>
    </section>

    <!-- ===== user profile ======  -->
    <div class="user-infos">
        <div class="image-container">
                <div class="profile-image">

                </div>
        </div>
        <div class="information">
            <span>
                System Admin
            </span>
            <span>
                Systemsupport@gmail.com
            </span>
        </div>
        <div class="user-options">
            <a href="#">پروفایل</a>
            <a href="#">تنظیمات</a>
        </div>
    </div>
    <!-- =======Modals===== -->
    <div class="reminder-modal">

    </div>
    <div class="notification-modal">

    </div>

    
    




    
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="../../../static/System%20Dashbord/Assets/scripts/app.js"></script>

    <script src="../../../static/System%20Dashbord/Assets/scripts/moment.js"></script>
    <script src="../../../static/System%20Dashbord/Assets/scripts/jalali-moment.js"></script>

    <script src="../../../static/System%20Dashbord/Assets/scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="../../../static/System%20Dashbord/Assets/scripts/bootstrap/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
        });

        document.querySelector('#date').innerHTML = `${ moment().locale('fa').format('MMMM Do YYYY, h:mm a')}`
        
    </script>

</body>
</html>